.cu{
    background-color:rgb(3, 3, 122)
}

.cobg{
    background-color:rgb(3, 3, 80) ;
    height:300px;
    position: relative; 
}
.rectbg{
    background-color:white;
     position: absolute; 
    top: 0;
    left: 0;
    opacity: 100;
    z-index:2;
    margin:250px;
    width: 1285px;
    height: 1000px;
    margin-left:31px;
    margin-right: 10px;
}

body{
    background-color:whitesmoke
}

.btn-custom {

    background-color:skyblue
}

.btn-d{
    background-color:navy
}
.btn-g{
    background-color:red;
}

.in{
    display:inline-block;
}

