.image{
   
    padding:10px 0px 0px 200px;
}
.mr{
    margin: 80px 50px 50px 270px;
}
h5{
    text-align: center;
}
p{
    text-align: center;
}
form{
    margin-left: 175px;
}
.lg{
 
    margin: 3px 50px 10px 140px;
}
input[type=text],input[type=password]{
    width: 200px;
   
}